<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guitar Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
        <h1 class="header">Contact Book</h1>
        <!-- SEARCH -->
        <div class="row">
            <form class="col s12" method="GET" action="/contacts">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Search" id="search" type="text" name="search">
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                </div>
            </form>
        </div>

        <% if (items) { %>
        <!-- <a class="btn" href="/guitars"><i class="material-icons right">arrow_forward</i>Get started!</a> -->
        <ul class="collection with-header">
            <!-- <li class="collection-header"><h4>First Names</h4></li> -->
            <% items.forEach(function (contact) { %>
                <li class="collection-item avatar">
                    <!-- <img src="../assets/images/anonymouse.jpg" alt="" class="circle"> -->
                    <span class="title"><%= contact.firstName + ' ' + contact.lastName %></span>
                    <p>Email: <%= contact.email %></p>
                    <p>Phone: <%= contact.phoneNumber %></p>
                    <% if (contact.address.length > 0) { %>
                        <ul class="collection">
                        <% contact.address.forEach(function (adr) { %>
                            <li class="collection-item">
                                <p>Street: <%= adr.street %></p>
                                <p>District: <%= adr.district %></p>
                                <p>Province: <%= adr.province %></p>
                                <p>Country: <%= adr.country %></p>
                            </li>
                        <% }); %>
                        </ul>
                    <% } %>
                    <!-- <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Address ></a> -->
                </li>
            <% }); %>
        </ul>
        <% } %>
    </div>
</body>
</html>